    /* Meio do container */

.container_main_page .titulo{
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.container_main_page .market{
    height: 85%;
    border: 1px solid red;
}

.market .dados_marketplace{
    border: 1px solid red;
    height: 100px;
    padding: 15px;
    width: 100%;
}

.dados_marketplace tr{
    display: flex;
    justify-content: space-around;
 }

 .dados_marketplace td{
    width: 20%;
    text-align: center;
 }



/* Lado direito container */

.pokemon .moedas{
    background-color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moedas img{
    width: 45px;
    height: 35px;
}

.pokemon .card_pokemon{
    background-color: aliceblue;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_pokemon .detalhes{
    height: 100%;
}

.card_pokemon img{
    width: 100%;
    height: 100%;
}

.pokemon .group_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 20%;
}

.group_button button{
    width: 150px;
    height: 35px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #715DF2;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    align-self: center;
    transition: all .3s ease-in-out;
}

.group_button button:hover{
    background-color: #614af5;
    letter-spacing: 2px;
}