.group_obstaculo{
    text-align: center;
}

.obs1{
   /* border: 2px solid red; */
   position: absolute;
   top: 50px;
   left: 50px;
   width: 40px;
   height: 600px;
 }

.obs2{
   /* border: 2px solid red; */
   position: absolute;
   top: 50px;
   left: 50px;
   width: 800px;
   height: 40px;
 }

 .obs3{
   /* border: 2px solid red; */
   position: absolute;
   top: 50px;
   left: 810px;
   width: 40px;
   height: 600px;
 }

 .obs4{
   /* border: 2px solid red; */
   position: absolute;
   top: 610px;
   left: 620px;
   width: 230px;
   height: 40px;
 }

 .obs5{
   /* border: 2px solid red; */
   position: absolute;
   top: 610px;
   left: 380px;
   width: 240px;
   height: 40px;
 }

 .obs6{
   /* border: 2px solid red; */
   position: absolute;
   top: 610px;
   left: 90px;
   width: 230px;
   height: 40px;
 }

 .obs7{
   /* border: 2px solid red; */
   position: absolute;
   top: 270px;
   left: 50px;
   width: 125px;
   height: 170px;
 }


 .obs9{
   /* border: 2px solid red; */
   position: absolute;
   top: 270px;
   left: 475px;
   width: 190px;
   height: 170px;
 }

 .obs10{
   /* border: 2px solid red; */
   position: absolute;
   top: 50px;
   left: 620px;
   width: 230px;
   height: 120px;
 }

 .obs11{
   /* border: 2px solid red; */
   position: absolute;
   top: 400px;
   left: 615px;
   width: 70px;
   height: 250px;
 }